@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #00ffee;
  --second-main-color: #076771;
}

* {
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Ubuntu", "Poetsen One", sans-serif;
  font-weight: 700;
}

body {
  @apply dark:text-[#ffffff] selection:bg-wtsecondary dark:selection:bg-secondary text-[#080808] dark:bg-[#292f36] bg-[#eeeeee];
}

.nav-ani {
  @apply relative dark:hover:text-secondary hover:text-wtsecondary duration-75 before:bg-primary before:absolute before:duration-700 before:w-full  before:top-4 hover:before:bg-wtsecondary dark:before:bg-secondary hover:before:top-[22px] hover:before:h-[2px];
}

.btn {
  @apply font-extrabold font-Ubuntu relative lg:px-5 px-3 py-1 z-10  lg:text-sm text-xs dark:hover:text-white hover:text-black rounded-full  overflow-hidden
  before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:-z-10  before:transform before:transition before:scale-x-0 before:duration-300
  hover:before:transform select-none cursor-pointer hover:before:scale-x-100;
}

section h1 {
  @apply text-center py-5 font-bold text-3xl   relative font-Fira dark:text-secondary text-wtsecondary selection:text-primary dark:selection:text-darkary  before:absolute  before:w-48 before:bottom-1 before:h-[3px] before:left-[50%] before:transform before:translate-x-[-50%] before:bg-wtsecondary dark:before:bg-secondary;
}
